{{ define "main" }}
<main class="Site-content" id="page">

    <div class="container">
        {{ range (where .Site.Pages "Section" "posts")}}
        {{ range (.Pages.GroupByDate "2006") }}
            <summary>{{ .Key }}</summary>
            <ul class="archive-list">
                {{ range .Pages}}
                    <li>
                        {{ .PublishDate.Format "2006-01-02" }}
                        ->
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                {{ end }}
            </ul>
        {{ end }}
        {{ end }}
    </div>

</main>
{{ end }}