{{ define "main" }}
<main class="Site-content" id="page">

    <div class="container">
        <a href="{{ .RelPermalink }}" class="summary-title-link"><h1>{{ .Title }}</h1></a>

<h5 class="author">
    发布于{{ .Date.Format "2006-01-02" }}，
    文章约{{ .WordCount }}字， 
    阅读约需{{ .ReadingTime }}分钟。
    {{ with .Params.tags }}

  {{ range . }}
     [<a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>] 
  {{ end }}

{{ end }}

{{ with .Params.topics }}

  {{ range . }}
    <a href="{{ "topics" | absURL }}/{{ . | urlize }}">{{ . }}</a>
  {{ end }}

{{ end }}

{{ with .Params.categories }}

  {{ range . }}
  「<a href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a>」
  {{ end }}

{{ end }}
</h5>
<hr/>
{{ with .Resources.ByType "image" }}
{{ range . }}
{{ .RelPermalink }}
{{ end }}
{{ end }}
{{ .Content }}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://samawongblog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
</div>
</main>
{{ end }}