{{ define "main" }}
<main class="Site-content" id="page">

    <div class="container">
        {{ range where .Site.RegularPages "Section" "posts" }}
            <article class="article">
                <h2 class="title">
                    <a href="{{ .RelPermalink }}" class="summary-title-link">{{ .Title }}</a>
                </h2>
                <p class="author">
                    发布于{{ .Date.Format "2006-01-02" }}，
                    文章约{{ .WordCount }}字， 
                    阅读约需{{ .ReadingTime }}分钟。
                </p>
                <p>
                    {{ .Description }}
                </p>

            </article>
        {{ end }}
    </div>

</main>
{{ end }}